#header,
#footer{
    background-color: rgb(189, 189, 189);
}

.carousel-item img{
    max-height: 720px;
    width: 100%;
}

.tab-content{
    display: flex;
    margin: auto;
}

textarea{
    height: 90px;
    resize: none;
}

#social-medias li{
    list-style: none;
}

iframe{
    height: 312px;
    border: 0;
}